* {
    outline: 0 !important;
  }
.slider{
    width: 100%;
    display: flex;
    justify-content: center;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    position: relative;
}
.products a{
    text-decoration: none;
}
.slider .slide_product .products .action-img  {
    width: 33%;
    position: absolute;
    top:0;
    right:0;
    
}
.owl-nav .owl-prev:active{
    outline: none;
    box-shadow: none;
}
.product-img img{
    height: 265px;
    width: 95%;
}
.product-list{
    width: 90%;
    text-align: center;
    min-height: 173px;
}
.product-list h3{
    color: #010101;
    font-family: sans-serif ;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.product-h3{
    min-height: 90px;
}
.star-img{
    width:50%;
    height: 15px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 10px;
}

.jq-ry-container{
    margin:0 auto;
}
.price-product{
    min-height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-family: sans-serif ;
}
.interest-price{
    font-size:0.8em;
    color:rgba(221, 22, 22, 0.87);
    padding-bottom: 10px;
}
.old-price{
    text-decoration: line-through;
    padding-bottom: 12px;
}
.product-bootom{
  text-transform: uppercase;
  outline: none;
  margin-top: 20px;
  padding: 11px 40px 11px 40px;
  background-color: #fff;
  border: 2px solid #000000;
  color: #000000;
  font-family: sans-serif ;
  font-weight: 600;
  text-align: center;

}